@import "~bootstrap/css/bootstrap";

.fondo-azul {
    background-color: blue;
    color: rgb(199, 49, 49);
}

body {
    background-color: #39d451; /* Código de color para gris claro */
}
/* Estilos generales para tu aplicación */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
